<div class="container">
	<h1>
		Create your account
	</h1>
	<div *ngIf="statusMsg" class="alert alert-danger">
		{{statusMsg}}
	</div>
	<form #signupForm="ngForm" (ngSubmit)="onSignup(user);" novalidate="">
		<div class="form-group" [class.has-error]="name.touched && name.invalid">
			<label class="control-label">Name</label>
			<input #name="ngModel" maxlength="10" minlength="3" class="form-control" placeholder="User Name" type="text" name="userName" required [(ngModel)]="user.userName">
			<span class="help-block" *ngIf="name.dirty && name.invalid && name.errors.required">
				Name is required
			</span>
			<span class="help-block" *ngIf="name.invalid && name.errors.minlength">
				Minimum 3 characters are required
			</span>
		</div>
		<div class="form-group" [class.has-error]="email.touched && email.invalid">
			<label class="control-label">Email</label>
			<input class="form-control" #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" required placeholder="Email" required type="text" name="email" [(ngModel)]="user.email">
			<span class="help-block" *ngIf="email.touched && email.errors?.required">
				Email is required
			</span>
			<span class="help-block" *ngIf="email.invalid && email.errors?.pattern">
				Email is invalid
			</span>
		</div>
		<div class="form-group">
			<label>Password</label>
			<input minlength="8" maxlength="16" #passwordRef="ngModel" class="form-control" placeholder="Password" type="password" name="password" required [(ngModel)]="user.password">
		</div>
		<div class="form-group">
			<label>Confirm Password</label>
			<input class="form-control" type="confirPassword" #confirmPassword="ngModel" name="confirmPassword" required [(ngModel)]="user.confirmPassword">
		</div>
		<button [disabled]="!signupForm.form.valid" type="submit" class="btn btn-primary">CREATE ACCOUNT</button>
	</form>
	<div style="margin-top:15px;">
		Already have an account with us? <a routerLink="/login">Login</a> in instead.
	</div>
</div>
<!-- <div class="container">
	<h1>
		Create your account
	</h1>
	<div *ngIf="statusMsg" class="alert alert-danger">
		{{statusMsg}}
	</div>
	<form #signupForm="ngForm" (ngSubmit)="onSignup(signupForm.value);" novalidate="">
		<div class="form-group">
			<label>User Name</label>
			<input #nameRef="ngModel" maxlength="10" minlength="3" class="form-control" placeholder="User name" type="text" name="userName" required ngModel>
			<div *ngIf="nameRef.errors && (nameRef.dirty || nameRef.touched)" class="alert alert-danger">
				<div [hidden]="!nameRef.errors.required">
					Please enter a name
				</div>
				<div [hidden]="!nameRef.errors.minlength">
					Plese enter atleaset 3 characters
				</div>
				<div [hidden]="!nameRef.errors.maxlength">
					Please do not exceed maximum of 10 characters
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>Email</label>
			<input class="form-control" placeholder="Email" type="text" name="email" ngModel>
		</div>
		<div class="form-group">
			<label>Password</label>
			<input minlength="8" maxlength="16" #passwordRef class="form-control" placeholder="Password" type="password" name="password" required ngModel>
			<div *ngIf="passwordRef.errors && 
			(nameRef.dirty || nameRef.touched)">
				<div [hidden]="!passwordRef.errors.required">
					Please enter password
				</div>
				<div [hidden]="!passwordRef.errors.minlength">
					Plese enter atleaset 8 characters
				</div>
				<div [hidden]="!passwordRef.errors.maxlength">
					Please do not exceed maximum of 16 characters
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>Confirm Password</label>
			<input class="form-control" type="text" name="confirmPassword" required ngModel>
		</div>
		<button [disabled]="!signupForm.form.valid" type="submit" class="btn btn-primary">CREATE ACCOUNT</button>
	</form>
	<div style="margin-top:15px;">
		Already have an account with us? <a routerLink="/login">Login</a> in instead.
	</div>
</div> -->